body{
    font-family: sans-serif;
}

.game{
    max-width:calc(3*100px);
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.status{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 20px;
}

.board{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}

.cell{
    width: 100px;
    height:100px;
    border: 2px solid #cccccc;
    cursor:pointer;
    transition: background-colour 0.3s ease-out;
}
.cell:hover{
    background-color: white;
}
.resetButton{
    padding: 5px 10px;
}